.poke-home {
  font-family: "Press Start 2P", cursive;
  border-radius: 2px;
  margin: 10vw 5px 5vw 5px;
  padding: 10px 10px 0 10px;
  height: 30vw;
  line-height: 20px;
  text-align: center;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black, inset 0 0 0 1px black;
}
.poke-home > i {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: black;
  margin-top: 23px;
  animation: bounce 0.5s ease-in-out 0 infinite alternate;
  float: right;
}

@keyframes bounce {
  from {
    margin-top: 20px;
  }
  to {
    margin-top: 23px;
  }
}

/* Styling for home page text */
.poke-home p {
  border-right: 0.15em solid black;
  font-family: "Press Start 2P", cursive;
  white-space: nowrap;
  font-size: 0.72rem;
  margin-bottom: 5px;
  overflow: hidden;
}
/* Animation for the first home page text */
.poke-home p:nth-child(1) {
  width: 25em;
  -webkit-animation: type 2.5s steps(40, end);
  animation: type 2.5s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* Animation for the second home page text */
.poke-home p:nth-child(2) {
  width: 25em;
  opacity: 0;
  -webkit-animation: type2 2.5s steps(40, end);
  animation: type2 2.5s steps(40, end);
  /* Setting delay on the animation so it doesn't go right after the first p text*/
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* Animation for the third home page text,  */
.poke-home p:nth-child(3) {
  width: 25em;
  opacity: 0;
  /* blinking and writing effect for chrome and safari 5*/
  -webkit-animation: type3 2.5s steps(40, end), blink 0.5s step-end infinite alternate;
  /* blinking and writing effect for all other browsers*/
  animation: type3 2.5s steps(40, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 2.5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* this is setting up the effect of the black line as if the text were being typed out */
@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid black;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid black;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid black;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid black;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

@media only screen and (min-width: 375px) and (max-width: 1440px) {
  .poke-home {
    padding: 12px 10px 0 10px;
  }
  .poke-home p {
    font-size: 0.85rem;
  }
}
@media only screen and (min-width: 425px) {
  .poke-home {
    margin-left: 7px;
    margin-right: 7px;
    padding: 15px 10px 0 10px;
  }
  .poke-home p {
    font-size: 0.95rem;
  }
}
@media only screen and (min-width: 768px) {
  .poke-home {
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px 10px 0 10px;
  }
  .poke-home p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .poke-home {
    margin-left: 15px;
    margin-right: 15px;
    padding: 12px 10px 0 20px;
  }
  .poke-home p {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}
@media only screen and (min-width: 1440px) {
  .poke-home {
    margin-left: 20px;
    margin-right: 20px;
  }
  .poke-home p {
    font-size: 2rem;
    line-height: 3rem;
  }
}