.hero {
  background-image: url('../../assets/images/homepage-banner.png');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size: cover;
  overflow: hidden;
  width: 100vw;
}

@media only screen and (min-width: 768px) and (max-width: 2560px) {
  .hero {
    height: 15vw;
  }
}